# .gitignore은 깃허브 목록에 올라가지않았으면하는 파일 확장명을 
#작성하거나 올리지않고 싶은 파일명을 작성해서
#그 파일이 업로드되지않도록 작성할수있는 공간 
#샾(#)은 주석으로 설명이나 관련 내용을 작성하는 공간 

# *(모두선택) 확장명앞에 별을 붙이는것은 그 파일과 관계된 모든게 업로드되지않게함

*.mp4 #mp4의 파일들을 업로드 방지 

#올리고싶지않은 폴더 이름/*
#위처럼 작성할경우 폴더 명과 폴더명 밑에있는 모든파일 업로드x